.header {
  display: flex;
  flex-wrap: wrap;
  height: 88px;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  &__line{
    border-bottom: 1px solid black;
    width: 100%;
  }
  &__home {
    @include text;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    cursor: pointer;

    &:visited{
      color: #000000;
    }

    &:hover{
      color: #828282;
      transition: 0.2s;
    }
  }

  &__list {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
  }
  &__link {
    @include text;
    font-weight: 700;
    color: #828282;
    text-decoration: none;

    &:visited{
      color: #828282;
    }

    &:hover{
      color: #000000;
      transition: 0.2s;
    }
  }
  &__btn {
    @include text;
    font-weight: 700;
    color: #828282;
    text-decoration: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &:hover{
      color: #000000;
      transition: 0.2s;
    }
  }
}

// Hidding Sign in and Register links on the My profile .profile__image
.header__signIn-hidden,
.header__register-hidden{
  display: none;
  position: absolute;
}
