.passwordHidden {
  display: none;
}

.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f6f6;
  transition: opacity 0.3s;
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 370px;
    width: 100%;
    height: 407px;
    top: 20%;
    padding: 40px 40px;
    border: black solid 2px;
    background-color: #fff;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__label {
    @include text;
    font-size: 14px;
    font-weight: 400;
    &::after {
      content: "*";
      color: red;
      font-size: 14px;
      margin-left: 3px;
    }
  }
  &__input {
    @include text;
    height: 50px;
    border: #e5e5e5 solid 2px;
    padding: 14px 14px;
    &:focus + .modal__snowflake-output {
      border-color: #070707;
      outline: none;
      &::after {
        content: "|"; /* Вертикальный курсор */
        position: absolute;
        top: 12px;
        scale: 130%;
        animation: blink 0.5s infinite alternate;
      }

      @keyframes blink {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    &:hover + .modal__snowflake-output {
      border-color: #828282;
    }
    &-coustom {
      position: relative;
      display: inline-block;
      outline: none;
      & input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
      }
    }
  }
  &__snowflake {
    &-output {
      position: relative;
      z-index: 0;
      background-color: #fff;
      @include text;
      height: 50px;
      border: #e5e5e5 solid 2px;
      padding: 14px 14px;
    }
  }
  &__btn {
    @include btn;
    max-width: fit-content;
    margin-top: 10px;
  }
  &__close {
    @include closeBtn;
  }
}
