@mixin no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin no-btn {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
@mixin title {
  font-family: "Gilroy";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: black;
}

@mixin text {
  font-family: "Gilroy";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  margin: 0;
}

@mixin btn {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 30px;
  color: #000;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 10px 19px 7px;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 12px 21px 9px;
  }
}

@mixin closeBtn {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(/img/Close.svg);
  background-size: cover;
  border: none;
  background-color: transparent;
  outline: none;
  top: -1px;
  right: -35px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-image: url(/img/Close-hover.svg);
    transition: 0.2s;
  }
}
