<div class="dataHidden modalData">
  <form class="modalData__form" action="">
    <label class="modalData__label" for="Email">Email</label>
    <input class="modalData__input" type="text" id="Email">
    <ul class="modalData__list">
      <li class="modalData__item">
        <label class="modalData__label" for="Name">Name</label>
        <input class="modalData__input" type="text" id="Name">
      </li>
      <li class="modalData__item">
        <label class="modalData__label" for="Location">Location</label>
        <input class="modalData__input" type="text" id="Location">
      </li>
      <li class="modalData__item">
        <label class="modalData__label" for="Profile picture">Profile picture</label>
        <input class="modalData__input" type="text" id="Profile picture">
      </li>
      <li class="modalData__item">
        <label class="modalData__label" for="Surname">Surname</label>
        <input class="modalData__input" type="text" id="Surname">
      </li>
      <li class="modalData__item">
        <label class="modalData__label" for="Age">Age</label>
        <input class="modalData__input" type="text" id="Age">
      </li>
    </ul>
    <button class="modalData__btn" type="submit">Submit changes</button>
    <button class="modalData__close" type="submit" tabindex="1"></button>
  </form>
</div>
