<div class="passwordHidden">
  <form class="modal__content" action="">
    <div class="modal__wrapper">
      <label class="modal__label" for="oldPassword">Old password</label>
      <div class="modal__input-coustom">
        <input class="modal__input modal__password-js" type="password" id="oldPassword">
        <div class="modal__snowflake-output modal__snowflake-output1">
        </div>
      </div>
    </div>
    <div class="modal__wrapper">
      <label class="modal__label" for="newPassword">New password</label>
      <div class="modal__input-coustom">
        <input class="modal__input modal__password-js" type="password" id="newPassword">
        <div class="modal__snowflake-output modal__snowflake-output2">
        </div>
      </div>
    </div>
    <div class="modal__wrapper">
      <label class="modal__label" for="repeatNewPassword">Repeat new password</label>
      <div class="modal__input-coustom">
        <input class="modal__input modal__password-js" type="password" id="repeatNewPassword">
        <div class="modal__snowflake-output modal__snowflake-output3">
        </div>
      </div>
    </div>
    <button class="modal__btn" type="button">Change password</button>
    <button class="modal__close" type="submit" tabindex="1"></button>
  </form>
</div>
