<div class="registerHidden">
  <form class="registerModal__form" action="">
    <ul class="registerModal__list">
      <li class="registerModal__item registerModal__item-email">
        <label class="registerModal__label" for="registerEmail">Email</label>
        <input class="registerModal__input" type="Email" id="registerEmail">
      </li>
      <li class="registerModal__item">
        <label class="registerModal__label" for="registerName">Name</label>
        <input class="registerModal__input" type="text" id="registerName">
      </li>
      <li class="registerModal__item">
        <label class="registerModal__label" for="registerSurname">Surname</label>
        <input class="registerModal__input" type="text" id="registerSurname">
      </li>
      <li class="registerModal__item">
        <label class="registerModal__label" for="registerPassword">Password</label>
        <input class="registerModal__input" type="password" id="registerPassword">
      </li>
      <li class="registerModal__item">
        <label class="registerModal__label" for="registerRepeat">Repeat password</label>
        <input class="registerModal__input" type="password" id="registerRepeat">
      </li>
      <li class="registerModal__item">
        <label class="registerModal__label" for="registerLocation">Location</label>
        <input class="registerModal__input" type="text" id="registerLocation">
      </li>
      <li class="registerModal__item">
        <label class="registerModal__label" for="registerAge">Age</label>
        <input class="registerModal__input" type="text" id="registerAge">
      </li>
    </ul>
    <div class="registerModal__confirmation">
        <input class="registerModal__checkbox" type="checkbox" id="registerConfirmation">
        <label class="registerModal__label registerModal__label-custom" for="registerConfirmation">Clicking on the button, you consent to the processing of your personal data.</label>
    </div>
    <button class="registerModal__btn" type="button">Sign up</button>
    <button class="registerModal__close" type="button" tabindex="1"></button>
  </form>
</div>
