<div class="messageHidden">
  <form class="modalMessage__form" action="">
    <ul class="modalMessage__list">
      <li class="modalMessage__item">
        <label class="modalMessage__label" for="Name">What is your name?</label>
        <input class="modalMessage__input" type="text" id="Name">
      </li>
      <li class="modalMessage__item">
        <label class="modalMessage__label" for="Email">Your Email</label>
        <input class="modalMessage__input" type="Email" id="Email">
      </li>
      <li class="modalMessage__item">
        <label class="modalMessage__label" for="Subject">Message subject</label>
        <input class="modalMessage__input" type="text" id="Subject">
      </li>
      <li class="modalMessage__item">
        <label class="modalMessage__label" for="Phone">Your mobile phone</label>
        <input class="modalMessage__input" type="tel" id="Phone">
      </li>
    </ul>
    <div class="modalMessage__textbox">
      <label class="modalMessage__label" for="Message">What do you want to discuss with me?</label>
      <textarea class="modalMessage__text" name="message" id="Message" cols="30" rows="10"></textarea>
    </div>
    <div class="modalMessage__confirmation">
        <input class="modalMessage__checkbox" type="checkbox" id="Confirmation">
        <label class="modalMessage__label modalMessage__label-custom" for="Confirmation">Clicking on the button, you consent to the processing of your personal data.</label>
    </div>
    <button class="modalMessage__btn" type="button">Send</button>
    <button class="modalMessage__close" type="button" tabindex="1"></button>
  </form>
</div>
