<div class="signInHidden">
  <form class="signInModal__form" action="">
    <ul class="signInModal__list">
      <li class="signInModal__item">
        <label class="signInModal__label" for="signInEmail">Email</label>
        <input class="signInModal__input" type="Email" id="signInEmail">
      </li>
      <li class="signInModal__item">
        <label class="signInModal__label" for="signInPassword">Password</label>
        <div class="signInModal__input-coustom">
          <input class="signInModal__input signInModal__password-js" type="password" id="signInPassword">
          <div class="signInModal__snowflake-output"></div>
        </div>
      </li>
    </ul>
    <button class="signInModal__btn" type="submit">Log in</button>
    <button class="signInModal__close" type="button" tabindex="1"></button>
  </form>
</div>
